body {
    margin: 0px;
}
.container {
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    text-transform: uppercase;
    background-color: black;

    .box {
        position: relative;
        height: 400px;
        width: 600px;
        overflow: hidden;
        img {
            position: absolute;
            top: -40px;
            right: -40px;
            width: 130%;
            height: 130%;
            object-fit: cover;
            transition: 0.3s;
        }
        .title {
            position: absolute;
            font-size: 38px;
            font-weight: 300;
            color: aliceblue;
            .bolder {
                font-weight: 700;
            }
        }
        .desc {
            position: absolute;
            color: aliceblue;
        }
    }

    .box1 {
        .title {
            bottom: 40px;
            right: 40px;
        }
        .desc {
            width: 180px;
            text-align: right;
            padding-right: 10px;
            border-right: 1px solid #fff;
            top: 40px;
            left: 0;
            opacity: 0;
            transition: 0.3s;
        }
    }
    .box1:hover {
        background-color: rgb(4, 32, 190);
        .image {
            opacity: 0.8;
            transform: translateX(40px) scale(0.9);
        }
        .desc {
            opacity: 1;
            left: 50px;
        }
    }

    .box2 {
        .title {
            position: absolute;
            top: 70px;
            left: 80px;
        }
        .desc {
            opacity: 0;
            bottom: 190px;
            width: 350px;
            left: 80px;
            transition: 0.5s;
        }
        .image {
            transition: 1s;
        }
    }
    .box2::after {
        content: "";
        position: absolute;
        height: 150px;
        border: 9px solid #fff;
        top: 40px;
        left: 40px;
        right: 40px;
        transition: 0.4s;
    }

    .box2:hover::after {
        top: 200px;
    }

    .box2:hover {
        background: linear-gradient(#359dff, #a76a10);
        .desc {
            opacity: 1;
            bottom: 60px;
        }
        .image {
            opacity: 0.5;
        }
    }

    .box3 {
        .title {
            z-index: 100;
            top: 120px;
            left: 170px;
            transition: 0.3s;
        }
        .line1 {
            position: absolute;
            width: 480px;
            height: 1px;
            background-color: #fff;
            top: 190px;
            left: 64px;
            transition: 0.3s;
        }
        .line2 {
            position: absolute;
            width: 480px;
            height: 1px;
            background-color: #fff;
            bottom: 210px;
            right: 55px;
            transition: 0.3s;
        }
        .desc {
            z-index: 100;
            width: 500px;
            font-size: 18px;
            font-weight: 300;
            bottom: 120px;
            left: 45px;
            text-align: center;
            transition: 0.3s;
        }
    }
    .box3:hover {
        .title {
            top: 135px;
        }
        .image {
            transform: scale(0.9);
            opacity: 0.7;
        }
        .desc {
            bottom: 135px;
        }
        .line2 {
            transform: rotate(-45deg);
            background-color: #b3b3b3;
        }
        .line1 {
            transform: rotate(45deg);
            background-color: #b3b3b3;
        }
    }
    .box4 {
        .title {
            z-index: 100;
            left: 80px;
            top: 70px;
            padding: 20px 30px 30px 20px;
            transition: 0.5s;
            border: 2px solid #fff;
        }
        .desc {
            z-index: 100;
            width: 222px;
            height: 146px;
            padding: 15px 20px 22px;
            font-size: 18px;
            font-weight: 200;
            border: 2px solid #fff;
            bottom: 110px;
            left: 190px;
            text-align: right;
            transition: 0.5s;
            box-sizing: border-box;
            opacity: 0;
        }
        .image {
            opacity: 0.5;
            transition: 0.4s;
        }
    }
    .box4:hover {
        background: linear-gradient(153deg, rgb(47, 43, 121), rgb(99, 66, 4));
        .title {
            transform: translate(-10px, -10px);
        }
        .desc {
            transform: translate(100px, 60px);
            opacity: 1;
        }
    }
    .box5 {
        .title {
            z-index: 100;
            left: 70px;
            top: 60px;
            transition: 0.5s;
        }
        .desc {
            z-index: 100;
            width: 222px;
            padding-right: 15px;
            font-size: 18px;
            font-weight: 200;
            border-right: 4px solid #fff;
            bottom: 50px;
            right: 60px;
            text-align: right;
            transition: 0.5s;
            box-sizing: border-box;
            opacity: 0;
        }
        .image {
            opacity: 0.5;
            transition: 0.4s;
        }
    }
    .box5::after {
        content: "";
        position: absolute;
        width: 950px;
        height: 500px;
        top: -570px;
        right: -450px;
        background-color: #ffffff63;
        transform: rotate(33deg);
        transition: all linear 0.4s;
    }
    .box5:hover {
        background-color: #10365a;
        .desc {
            opacity: 1;
        }
        .image {
            transform: scale(0.9);
        }
    }
    .box5:hover::after {
        top: 400px;
        right: 300px;
    }
    .box6 {
        .title {
            z-index: 100;
            left: 183px;
            top: 170px;
            transition: 0.3s;
        }
        .image {
            opacity: 0.5;
        }
        .icon {
            display: flex;
            box-sizing: border-box;
            position: absolute;
            font-size: 25px;
            width: 250px;
            height: 250px;
            gap: 180px;
            flex-wrap: wrap;
            top: 80px;
            left: 180px;
            justify-content: center;
            align-items: center;
            transition: 0.3s;
            opacity: 0;
        }
    }
    .box6::after {
        content: "";
        position: absolute;
        width: 200px;
        height: 200px;
        top: 95px;
        right: 190px;
        border: 2px solid #fff;
        transform: rotate(45deg) scale(0.4);
        transition: all ease 0.3s;
        opacity: 0;
    }
    .box6:hover {
        background-color: #10365a;
        .title {
            transform: scale(0.7);
            opacity: 0;
        }
        .icon {
            box-sizing: border-box;
            gap: 25px;
            padding: 70px;
            opacity: 1;
        }
    }
    .box6:hover::after {
        transform: rotate(45deg) scale(1.2);
        border: 3px solid #fff;
        opacity: 1;
    }
}
